* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
html {
    height:100%;
    overflow-x: hidden;
}
body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
    flex-shrink: 0;
  }
  header {
    background-image: url(../sg.jpg);
    height: 100vh;
    background-size: auto;
    background-position: center;
    animation: animate 35s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        background-image: url(../img5.jpg);
    }
    100% {
        background-image: url(../img7.jpg);
    }
    50% {
        background-image: url(../img3.jpg);
        background-repeat: no-repeat;
    }
    75% {
        background-image: url(../img4.jpg);
    }
}

.header img {
    margin-top: 1em;
    margin-left: 1em;
    float: left;
    width: 40px;
    height: 40px;
    background: rgb(45, 9, 85);
    border-radius: 50%;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 1em;
    text-decoration-color: white;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.htext {
    max-width: 1200px;
    margin-top: 2em;
    margin-left: 4em;
    color: white;
    font-style: italic;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70 px;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover {
    background-color: #fff;
    color: black;
}

.signup-form {
    font-family: "Roboto", sans-serif;
    max-width: 650px;
    margin: 30px auto;
    background: transparent;
    border-radius: 10px;
}
.form-header {
    background-color: #eff0f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form-header h1 {
    font-size: 30px;
    text-align: center;
    color: #666;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}
.form-body {
    padding: 10px 40px;
    color: #666;
}
.form-group {
    margin-bottom: 20px;
}
.form-body .label-title {
    color: #060707;
    font-size: large;
    font-weight: bold;
}
.form-body .form-input{
    font-size: large;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}.horizontal-group .left {
    float: left;
    width: 49%;
}
.horizontal-group .right {
    float: right;
    width: 49%;
}
input[type="file"] {
    outline: none;
    cursor: pointer;
    font-size: large;
}
fieldset {
    width: 100%;
    padding: 0em; 
    background-color:#dff4f8; 
 }
.login{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center; 
  }  
  legend {
	background-color: #072331; 
	color: white;
    padding: 0.5m;
    text-align: center;
    margin:2em auto;
    width:70%;
    font-size: large;  
}
input[type=submit] {
    background-color: #3d1b79;
    color: white;
    border-style: none;
    padding: 0.5em;
    width:20%;
    font-size: large;  
    margin-left: 10em;  
    margin-right: 10em; 
    margin-bottom: 0.5em;
}
input[type=submit]:hover {
    background-color: #6200EA;
}
footer {
    font-size: small;
    width: 100%;
    left: 0;
    bottom: 0px;
    background-color: rgb(10, 7, 37);
    color: white;
    text-align: center;
    flex:none;
}
@media screen and (max-width: 21.99em) {
    /* For mobile phones: iphon4 */
    ul li a {
        padding: .1em;
        font-size: small;
    }  
    legend {
        padding: 0.5em;
        width:80%;
        font-size: small;  
    }
    .signup-form{
        font-size:xx-small;
        width:100%;
        margin:0;  
    }
    .form-body{
        padding:0em;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .form-body .label-title {
        font-size:x-small;
    }
    .form-body .form-input{
    font-size: x-small;
    margin-top:0em;
    width:100%;
    height:10px;
    padding-left: 0px;
    padding-right: 0px;
    }
    input[type=submit] {
        padding: 0.1em;
        width:50%;
        font-size: x-small; 
        margin-left: 5em;  
        margin-right: 5em; 
    }
    input[type=file]{
        padding: 0.1em;
        width:100%;
        font-size: x-small; 
    }
  
   
  }
  @media screen and (min-width: 22em) and (max-width: 50em) {
    ul li a {
        padding: .1em;
        font-size: small;
    }  
    legend {
        padding: 0.5em;
        width:80%;
        font-size: small;  
    }
    .signup-form{
        font-size:xx-small;
        width:100%;
        margin:0;  
    }
    .form-body{
        padding:0em;
    }
    .form-body .label-title {
        font-size:x-small;
    }
    .form-body .form-input{
    font-size: x-small;
    margin-top:0em;
    width:100%;
    height:20px;
    padding-left: 0px;
    padding-right: 0px;
    }
    input[type=submit] {
        padding: 0.1em;
        width:50%;
        font-size: x-small; 
        margin-left: 5em;  
        margin-right: 5em; 
    }
    input[type=file]{
        padding: 0.1em;
        width:100%;
        font-size: x-small; 
    }
  }