* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

html {
    overflow-x: hidden;
    height:100%;
}
body {
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
    flex-shrink: 0;
  }

  header {
    background-image: url(../sg.jpg);
    height: 100vh;
    background-size: auto;
    background-position: center;
    animation: animate 35s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        background-image: url(../img5.jpg);
    }
    100% {
        background-image: url(../img7.jpg);
    }
    50% {
        background-image: url(../img3.jpg);
        background-repeat: no-repeat;
    }
    75% {
        background-image: url(../img4.jpg);
    }
}

.header img {
    margin-top: 1em;
    margin-left: 1em;
    float: left;
    width: 40px;
    height: 40px;
    background: rgb(45, 9, 85);
    border-radius: 50%;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 1em;
    text-decoration-color: white;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;
}
.logo img {
    float: left;
    width: 150px;
    height: auto;
}
.htext {
    max-width: 1200px;
    margin-top: 2em;
    margin-left: 4em;
    color: white;
    font-style: italic;
}
.search {
    top: 355px;
    left: 575px;
    margin-top: 1em;
    display: flex;
    margin-left: 82em;
    border-radius: 5px;
}
.search img {
    top: 6px;
    left: 8px;
    width: 14px;
}
.search input[type=text] {
    height: 30px;
    width: 180px;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1 {
    color: white;
    font-size: 70 px;
}
fieldset {
    width: auto;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-bottom: 0.5em;
    padding: 0em; 
    background-color: #dff4f8; 
 }
 .login{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
  }  
form p {
    margin:auto;
    margin-top:0.5em;
    margin-bottom:0.5em;
    width:30em;
    font-size: large;  
 }
div{
    padding: 0;
    margin-left:0.5em;  
}
legend {
	background-color: #072331; 
	color: white;
    padding: 1em;
    text-align: center;
    margin:1em auto;
    width:70%;
    font-size: large;  
}
input[type=submit]{
    background-color: #0e0b13;
    color: white;
    border-style:outset;
    padding: 0em;
    width:15%;
    margin: 1em;
    font-size: large;  
    margin-bottom: 1em;   
}
input[type=submit]:hover {
    background-color: #8fc6db;
}
input[type=text]{
    margin-top: 1em;
    padding: 0.5em; 
    width: 45%;
}
span {
    content: "\003F";
  } 
footer {
    font-size: small;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(10, 7, 37);
    color: white;
    text-align: center;
    flex:none;
}
@media screen and (max-width: 21.99em) {
    /* For mobile phones: iphon4 */
    ul li a {
        padding: .1em;
        font-size: small;
    }
    .button {
        transform: translate(-50%, -50%);
    }
    .btn {
        padding: 0.5em;
        margin-left:1em;
        font-size: xx-small;
        float:left;
        width:35%;
    }
    fieldset {
        width: 30%;
     }
    form p {
        width:20em;
        font-size: small;  
     }
    legend {
        padding: 0em;
        width:80%;
        font-size: small;  
    } 
    footer{
      background-color: yellow;

    }
    input[type=submit],[type=button]{
        width:40%;
        margin: 0.5em;
        font-size: small;  
        margin-bottom: 0.5em;   
    }
    input[type=submit],[type=button]:hover {
        background-color: #6200EA;
    }
    input[type=text],[type=password] {
        padding: 0.1em; 
    }
  }
  @media screen and (max-width: 50em) {
    .search {
        margin-left: 3em;
    }
    .search input[type=text] {
        height: 5px;
        width: 100px;
    }
    ul li a {
        padding: .1em;
        font-size: 1em;
    }
    .btn {
        padding: 0.5em;
        margin-left:1em;
        font-size: x-small;
        float:left;
        width:35%;
    }
    fieldset {
        width: 50%;
     }
    form p {
        width:20em;
        font-size: small;  
     }
    legend {
        padding: 0.5em;
        width:80%;
        font-size: small;  
    } 
    input[type=submit],[type=button]{
        width:40%;
        margin: 0.5em;
        font-size: small;  
        margin-bottom: 0.5em;   
    }
    input[type=submit],[type=button]:hover {
        background-color: #6200EA;
    }
    input[type=text],[type=password] {
        padding: 0.1em; 
    }
    footer {
      background-color: lavender;
    }
  }