* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

html {
    overflow-x: hidden;
    height:100%;
}
body {
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
    flex-shrink: 0;
  }


/* body {
    min-height: 100vh;
    display: flex;
    align-items: center;
} */

header {
    background-image: url(../sg.jpg);
    height: 100vh;
    background-size: auto;
    background-position: center;
    animation: animate 35s ease-in-out infinite;
}

@keyframes animate {
    100% {
        background-image: url(../img5.jpg);
    }
    100% {
        background-image: url(../img7.jpg);
    }
    50% {
        background-image: url(../img3.jpg);
        background-repeat: no-repeat;
    }
    75% {
        background-image: url(../img4.jpg);
    }
}

.header img {
    margin-top: 1em;
    margin-left: 1em;
    float: left;
    width: 40px;
    height: 40px;
    background: rgb(45, 9, 85);
    border-radius: 50%;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 1em;
    text-decoration-color: white;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.htext {
    max-width: 1200px;
    margin-top: 2em;
    margin-left: 4em;
    color: white;
    font-style: italic;
}

.search {
    top: 355px;
    left: 575px;
    margin-top: 1em;
    display: flex;
    margin-left: 82em;
    border-radius: 5px;
}

.search img {
    top: 6px;
    left: 8px;
    width: 14px;
}

.search input[type=text] {
    height: 30px;
    width: 180px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70 px;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover {
    background-color: #fff;
    color: black;
}

footer {
    font-size: small;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(10, 7, 37);
    color: white;
    text-align: center;
}

.aboutus {
    text-align: center;
    padding-top: 50px;
}

.aboutus p {
    width: 98%;
    border: seashell;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-indent: auto;
    padding-top: 50px;
    font-size: 18px;
    color: yellow;
    background-color: rgba(22, 10, 194, 0.4);
}

.logoend img {
    width: 100%;
    height: 350px;
    color: transparent;
    border-radius: 100px;
    float: center;
    opacity: 0.2;
}

.aboutus h1::after {
    content: "";
    background-color: lightskyblue;
    height: 5px;
    width: 200px;
    border-radius: 50px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 21.99em) {
    /* For mobile phones: iphon4 */
    ul li a {
        padding: .1em;
        font-size: small;
    }
    .button {
        transform: translate(-50%, -50%);
    }
    .btn {
        padding: 0.5em;
        margin-left:1em;
        font-size: xx-small;
        float:left;
        width:35%;
    }
    .aboutus{
        padding-top: 10px;
        font-size: small;
    }
    .aboutus p {
        font-size: x-small;
    }
    
  }
  @media screen and (min-width: 22em) and (max-width: 50em) {
    .search {
        margin-left: 3em;
    }
    .search input[type=text] {
        height: 5px;
        width: 100px;
    }
    ul li a {
        padding: .1em;
        font-size: 1em;
    }
    .aboutus{
        padding-top: 10px;
        font-size: small;
    }
    .aboutus p {
        font-size: small;
    }
    
  }